:root {
  --primary: DarkSlateGray;
  --secondary: Gray;
  --tertiary: #202020;
  /* --background: #050505; */
  --background: MintCream;

  --glitch1: #74EE15;
  --glitch2: #F000FF;
}

* {
  padding: 0;
  margin: 0;
}

html {
  background: var(--background);
  color: var(--primary);

  /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
  /* font-family: 'Courier New', Courier, monospace; */
  font-family: 'Andale Mono', monospace;

  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;

  font-size: 100%;
  /* line-height: 1.6; */
}

html, body {
  /* height: 100%;
  overflow: hidden; */
}

.main-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;

  /* margin: 0 auto; */
  /* padding-bottom: 1rem; */
  /* max-width: 1000px; */

  display: flex;
  flex-direction: column;
  align-content: center;
}

.container {
  /* margin: 0 auto; */
  /* padding-bottom: 1rem; */
  /* max-width: 75%; */

  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;

  justify-content: center;

  flex-grow: 1;
  flex-basis: 25%;

  /* border: 1px dashed greenyellow; */
}

.row {
  margin: 1rem;

  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: stretch;
}

.primary { color: var(--primary); }
.secondary { color: var(--secondary); }
.tertiary { color: var(--tertiary); }


a { text-decoration: none; }

.glitch {
  color: var(--primary);
  transition: text-shadow .5s ease-out, color .5s ease-in;
  /* transition: filter .5s ease-out, color .5s ease-in; */
}

.glitch:hover {
  color: rgba(0, 0, 0, 0);
  text-shadow: 4px 1px var(--glitch1), -4px -1px var(--glitch2);
  transition: text-shadow 1s ease-out, color .5s ease-in;
  /* transition: filter 1s ease-out, color .5s ease-in;
  filter: drop-shadow(2px 5px 1.25px var(--glitch1)) drop-shadow(-2px -5px 1.25px var(--glitch2)); */
}