:root {
  --primary: DarkSlateGray;
  --secondary: Gray;
  --tertiary: LightGray;
  --background: MintCream;

  --glitch1: #74EE15;
  --glitch2: #F000FF;
}

* {
  padding: 0;
  margin: 0;

  text-align: justify;
}

html {
  color: var(--primary);
  background: var(--background);

  font-family: monospace;
  font-size: 100%;

  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

.primary { color: var(--primary); }
.secondary { color: var(--secondary); }
.tertiary { color: var(--tertiary); }


a { text-decoration: none; color: var(--secondary); }

.glitch {
  color: var(--primary);
  transition: text-shadow .5s ease-out, color .5s ease-in;
  /* transition: filter .5s ease-out, color .5s ease-in; */
}

.glitch:hover {
  color: rgba(0, 0, 0, 0);
  text-shadow: 4px 1px var(--glitch1), -4px -1px var(--glitch2);
  transition: text-shadow 1s ease-out, color .5s ease-in;
  /* transition: filter 1s ease-out, color .5s ease-in;
  filter: drop-shadow(2px 5px 1.25px var(--glitch1)) drop-shadow(-2px -5px 1.25px var(--glitch2)); */
}


.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}