.header {
  position: sticky;
  top: 0;
  z-index: 1;

  background-color: var(--background);

  border-bottom: 1px solid var(--secondary);
}

.content {
  display: flex;
	flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.footer {
  display: flex;
	flex-direction: row;
  justify-content: center;
  align-items: baseline;

  background: var(--background);
}


.item {
  display: inline-block;
  margin-left: 1rem;
}

.item:first-child { margin-left: 0; }


.active {
  color: rgba(0, 0, 0, 0);
  text-shadow: 1px 1px var(--glitch1), -1px -1px var(--glitch2);
}