.project {
  /* border: 1px dashed greenyellow; */
  /* margin: 0 auto; */
  /* padding-bottom: 1rem; */
  /* max-width: 75%; */

  display: flex;
  flex-direction: column;
  /* align-content: center; */
  align-items: flex-start;

  /* justify-content: center; */

  /* flex-grow: 1; */
  /* flex-basis: 25%; */
}

.title {
  color: var(--primary);

  width: 100%;
  /* border-bottom: 1px solid var(--secondary); */
}

.subtitle {
  color: var(--secondary);
}

/* .content {
  border: 1px dashed red;
} */