.section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  margin-top: 8rem;
}

.title {
  width: 100%;
  color: var(--primary);
  border-bottom: 1px solid var(--secondary);
}

.subtitle {
  color: var(--secondary);
}

.content {
  width: 100%;
  margin-top: 2rem;
}