.list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  width: 75%;

  margin-top: 2rem;
}

.item {
  display: inline-block;
  /* margin-left: 2rem; */
  font-size: 4rem;
}