.profile {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-right: 8rem;
  border-right: 1px solid var(--tertiary);
}

.headshot {
  width: 32rem;
  height: 32rem;

  border-radius: 50%;
}

.blurb {
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin-left: 8rem;
}

.blurb h1 {
  font-size: 2rem;
  margin-bottom: 4rem;
}